table {
    min-width: 1680px;
}

.task {
    width: 50%;
}

.quotes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    margin: 20px auto;
}

.search_container {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.mat-form-field {
    margin: 0 20px;
}

/* .quote {
    padding: 20px;
    width: 280px;
    margin: 10px;
    height: 330px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 4px 3px 8px 0px rgb(100 152 44 /44%);
    transition-duration: 0.3s;
    color: white;
    position: relative;
}

.quote:hover {
    box-shadow: 4px 3px 11px 6px rgb(100 152 44 /60%);
    transform: translateY(-3px);
} */

.quote_description {
    word-wrap: break-word;
    text-align: center;
    max-height: 75%;
    overflow-y: scroll;
}

.quote_description::-webkit-scrollbar {
    display: none;
}

.task-action {
    display: flex;
    height: 100%;
    padding: 10px;
}

.task-action-col {
    width: 130px;
}

.visibility-button {
    color: #300c72;
}

.visibility-button:hover {
    background-color: #300c72;
    transition: 0.5s linear;
    color:white;
}

.delete-button {
    color: #f44336;
}

.delete-button:hover {
    background-color: #f44336;
    transition: 0.5s linear;
    color:white;
}

.edit-button {
    color: #3f51b5;
}

.edit-button:hover {
    color: white;
    background-color: #3f51b5;
    transition: 0.5s linear;
}

.quoteID {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.quoteID:hover {
    text-decoration: none;
    transition: 0.5s;
    color: red;
}

.edit_container {
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
}

.mat-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 20px;
    z-index: 999;
}

.editForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-width {
    width: 100%;
}

.close-button {
    position: absolute;
    right: 0;
    top: 0;
}

.error {
    color: red;
}