<mat-card *ngIf='quote'>
    <h1 style="text-align: center;">Task Detail</h1>
    <p class="detail-row"><span class="detail-title">Quote#:</span> <span class="detail-info">{{id}}</span></p>
    <p class="detail-row"><span class="detail-title">Quote Type:</span> <span class="detail-info">{{quote.QuoteType}}</span></p>
    <p class="detail-row"><span class="detail-title">Contact:</span> <span class="detail-info">{{quote.Contact}}</span></p>
    <p class="detail-row"><span class="detail-title">Task:</span> <span class="detail-info">{{quote.Task}}</span></p>
    <p class="detail-row"><span class="detail-title">Due Date:</span> <span class="detail-info">{{quote.DueDate.replace('T', ' ')}}</span></p>
    <p class="detail-row"><span class="detail-title">Task Type:</span> <span class="detail-info">{{quote.TaskType}}</span></p>
</mat-card>