.mat-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    padding: 20px;
}

.login {
    display: flex;
    flex-direction: column;
}

.mat-icon {
    color: #f44336;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    font-size: 2rem;
}

.login_title {
    text-align: center;
    margin-bottom: 20px;
}

.login_row {
    display: flex;
    justify-content: space-between;
}
.half-width {
    width: 48%;    
}

.form_error {
    color: red;
    display: flex;
    flex-direction: column;
}

button {
    margin: 10px 0;
}

@media (max-width: 1080px) {
    .mat-card {
        width: 50%;
    }
}

@media (max-width: 568px) {
    .mat-card {
        width: 80%;
    }
}