<mat-card>
    <form class="addQuote">
        <mat-icon>add</mat-icon>
        <h1>Add Quote</h1>
    </form>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Quote Type</mat-label>
        <input 
            matInput 
            type="text" 
            name="QuoteType" 
            ngModel 
            required
        >
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Contact</mat-label>
        <input 
            matInput 
            type="text" 
            name="Contact" 
            ngModel 
            required
        >
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Task</mat-label>
        <input 
            matInput 
            type="text" 
            name="Task" 
            ngModel 
            required
        >
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Due Date</mat-label>
        <input 
            matInput 
            type="text" 
            name="DueDate" 
            ngModel 
            required
        >
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Task Type</mat-label>
        <input 
            matInput 
            type="text" 
            name="TaskType" 
            ngModel 
            required
        >
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">SIGN IN</button>
    
</mat-card>